<div class="col-md-8">
    <div class="card card-user">
<!--         <div class="card-header">
            <h5 class="card-title">Nouveau Offre</h5>
        </div> -->
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-5 pr-1">
                        <div class="form-group">
                            <label>Entreprise</label>
                            <input type="text" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                    <div class="col-md-3 px-1">
                        <div class="form-group">
                            <label>Type de l'offre</label>
                            <select id="TypeOffre" name="TypeOffre" class="form-control">
                                <option value="STAGE">Stage</option>
                                <option value="EMPLOI">Emploi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email PRO</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Candidature Via</label>
                            <select id="CandidaType" name="CandidaType" class="form-control">
                                <option value="EMAILPRO">Email Professionel</option>
                                <option value="ESPRIT_ADM">Administration_ ESPRIT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" value="Faker">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Titre de l'offre</label>
                            <input type="text" class="form-control" placeholder=""
                                value="Développement d'une Application...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Ville</label>
                            <input type="text" class="form-control" placeholder="" value="TUNIS">
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>Pays</label>
                            <input type="text" class="form-control" placeholder="Country" value="TUNISIE">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label> Code Postal</label>
                            <input type="number" class="form-control" placeholder="ZIP Code">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Desciption de l'offre</label>
                            <textarea class="form-control textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Responsabilites</label>
                            <textarea class="form-control textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Qualifications</label>
                            <textarea class="form-control textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label> Nombre d'années d'expérience</label>
                            <input type="number" class="form-control" placeholder="0">
                        </div>
                    </div>
                </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="button" class="btn btn-primary btn-round" (click)="showNotification('bottom','right')">Enregistrer</button>
                            </div>
                        </div>
            </form>
        </div>
    </div>
</div>